body{
    background-color: rgb(220, 241, 241);
}

.SelectPhoto {
    color: rgb(6, 134, 134);
    border: solid 1px #0afddd;
    padding: 1px;
    background-color: #0afddd;
    border-radius: 5px;
    width: 43%;
    font-weight: bold;
}

.ChoixCat {
    font-weight: bold;
}

a[href^="connexion.php"] {
    font-family: sans-serif;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    padding: 10px 15px;
    background-color: #3498db;
}

a[href^="connexion.php"]:hover{
    background-color: #2980b9;
}

a[href^="inscription.php"] {
    font-family: sans-serif;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    padding: 10px 15px;
    background-color: #3498db;
}

a[href^="inscription.php"]:hover{
    background-color: #2980b9;
}

a[href^="ajout.php"] {
    font-family: sans-serif;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    padding: 10px 15px;
    background-color: #3498db;
}

a[href^="ajout.php"]:hover{
    background-color: #2980b9;
}

.button{
    font-family: sans-serif;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    padding: 10px 15px;
    background-color: #3498db;
}

.button:hover{
    background-color: #2980b9;
}

select{
    font-family: sans-serif;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    padding: 10px 15px;
    background-color: #3498db;
}