body{
    background-color: rgb(220, 241, 241);
}

h1{
    font-size: large;
}

th {
    border: 2px solid rgba(190, 190, 190, 0.829);
    padding: 20px;
}

td {
    border: 2px solid rgba(190, 190, 190, 0.829);
    padding: 20px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}


a[href="index.php"] {
    font-family: sans-serif;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    padding: 10px 15px;
    background-color: #90cbf3;
}

a[href="index.php"]:hover{
    background-color: #90cbf3d5;
}