body{
    background-color: rgb(220, 241, 241);
}

.button{
    font-family: sans-serif;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    padding: 10px 15px;
    background-color: #3498db;
}

.button:hover{
    background-color: #2980b9;
}

a[href^="index.php"] {
    font-family: sans-serif;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    padding: 10px 15px;
    background-color: #90cbf3;
}

a[href^="index.php"]:hover{
    background-color: #90cbf3d5;
}